.homePage {
  background-color: antiquewhite;
  width: 100vw;
  height: 100vh;
  margin: 0, auto;
}

.container {
  text-align: center;
  margin-top: 20px;
  border: solid 1px red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.generate-btn {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.letters-container {
  gap: 10px;
  border: 1px solid black;
  background-color: green;
  position: relative;
}

.puzzle-container {
  gap: 10px;
  border: 1px solid black;
  background-image: url("./jigsaw/organ-full-image.jpg");
  background-position: center;
  position: relative;
  opacity: 0.3;
  z-index: 1;
  background-size: 100% auto;
}

.tile {
  width: 50px;
  height: 50px;
  line-height: 50px; /* Center text vertically */
  border: 1px solid black;
  border-radius: 5px;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.puzzletile {
  width: 195px;
  height: 195px;
  display: flex;
  z-index: 2;
  color: pink;
  background-color: green;
}
.clock {
  padding: 1rem;
  text-align: center;
  width: 150px;
  height: 80px;
  background-color: blue;
  color: red;
  border-radius: 20px;
}
.timeContainer {
  display: flex;
  height: 25vh;
  width: 100vw;
  justify-content: space-evenly;
}

.handle {
  width: 4rem;
  height: 2rem;
  background-color: chartreuse;
  text-align: center;
  padding: 0.2rem;
}
.handle:hover {
  background-color: darkgreen;
  cursor: grab;
  color: chartreuse;
}
.handle:active {
  background-color: darkgreen;
  cursor: grabbing;
  color: blue;
}

.clockHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dragx {
  position: relative;
  width: 100px;
  height: 100px;
  z-index: 2;
}

.dragy {
  position: absolute;
  width: 100px;
  height: 100px;
}
